.meter {
    height: 10px;
    /* Can be anything */
    position: relative;
    background: #111;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 1px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    width: 95%;
    margin: auto;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.orange>span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.pure-u-1-4, .pure-u-1-2 {
    display: flex;
}

#encounter-rounds, #hud, #initiation, #ability-select, #levelup {
  display: none;
}

.illus {
    max-width: 100%;
}

.matchup, .heroes {
    display: flex;
}

.level-detail {
    text-shadow: .05em .05em .1em black;
    color: #DDE975;
    font-size: 1.5em;
    margin-top: 2em;
    text-align: center;
    max-width: 10%;
}

.char-stats, .monster-stats, .matchup {
    max-width: 100%;
    width: 100%;
}

.char-stats, .monster-stats {
    background-color: #E8D1A3;
    padding: .5em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    box-shadow: inset -3px -3px 5px rgba(135, 113, 68, 0.6);
}

header {
    text-align: center;
    margin: .2em;
}

header h1 {
    text-shadow: .05em .05em .1em black;
    color: #1060EA;
    font-size: 3em;
    margin: 0;
}

h2, h3, p {
    margin: 0.2em;
}

.underlined {
    text-decoration: underline;
}

body {
    justify-content: center;
    background-color: #eee;
    background-image: url("../images/bg/fantasy-landscape.jpg");
}

.hud, .encounter-rounds {
    margin: .5em;
    background-color: #2e8b57;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: .5em;
    border-radius: 5px;
    box-shadow: inset -3px -3px 4px rgba(6, 51, 26, 0.6);
}

.base-dmg, .armor, .ward, .hero-level, .dmg-type {
    padding: .1em;
    padding-top: .3em;
}

#initiate-options {
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: #8B9BB2;
    margin: .6em;
    text-align: center;
    padding-bottom: 1em;
    border-radius: 5px;
    box-shadow: inset -3px -3px 4px rgba(53, 72, 99, 0.6);
}

label {
    display: none;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #ccc;
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    box-shadow: inset -1px -1px 1px rgba(50, 50, 50, 0.6);
}

.conds {
    display: inline;
    min-width: 15px;
    max-width: 30px;
}

#errholder {
    display: none;
    position: relative;
    max-width: 50%;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: red;
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    box-shadow: inset -1px -1px 1px rgba(50, 50, 50, 0.6);
}

.pure-u-5-6 {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
}

.known-abilities {
    display: flex;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: #8B9BB2;
    border-radius: 5px;
    box-shadow: inset -3px -3px 4px rgba(53, 72, 99, 0.6);
    margin: .6em;
    text-align: center;
    padding: .5em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.abil-box {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 2px;
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.6);
}

.abil-box:hover {
    box-shadow: inset 3px 3px 4px rgba(225, 255, 255, 1);
}

.no-abil {
    background-color: #ccc;
}

.un-abil {
    background-color: #c6c19d;
}

.phys-abil {
    background-color: #abc69d;
}

.mag-abil {
    background-color: #b29dc6;
}

.pick-abil {
    display: none;
}

.intro {
    display: flex;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: #2e8b57;
    border-radius: 5px;
    box-shadow: inset -3px -3px 4px rgba(53, 72, 99, 0.6);
    margin: .6em;
    text-align: center;
    padding: .5em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tooltip {
    zindex: 5000;
    max-width: 50%;
    position: absolute;
    display: none;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #E8D1A3;
    margin: .6em;
    text-align: center;
    padding: .3em;
    border-radius: 5px;
    box-shadow: inset -1px -1px 2px rgba(135, 113, 68, 0.6);
}

#encounterend {
    zindex: 5500;
    max-width: 50%;
    display: none;
    position: absolute;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #E8D1A3;
    margin: .6em;
    text-align: center;
    padding: .3em;
    border-radius: 5px;
    box-shadow: inset -1px -1px 2px rgba(135, 113, 68, 0.6);
}

#endtitle {
    text-decoration: underline;
}

#pickholder {
    display: none;
    position: absolute;
}

.levelup {
      display: flex;
      border: 2px;
      border-style: solid;
      border-color: black;
      background-color: #2e8b57;
      border-radius: 5px;
      box-shadow: inset -3px -3px 4px rgba(53, 72, 99, 0.6);
      margin: .2em;
      text-align: center;
      padding: .2em;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
}

.levelinitoptions, .levelencoptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

/*not working below this*/

#hhpbar, #henergybar, #mhpbar, #menergybar {
    z-index: 0;
    /*not working*/
}


}
.pure-u-5-6, #round1h, #round2h, #round3h, #round4h, #round5h, #round1m, #round2m, #round3m, #round4m, #round5m {
    /*
  these margins/padding break the layout but are needed to un-crowd the elements.
  margin: .2em;
  padding: .2em;*/
}
